
.home-container {
    height: 98vh; 
    width: 84.8%;
    color: #302c2b;
    
}
.home-content{
  display: flex;
    flex-direction: column; 
   height: 100%;
    align-items: center;
  justify-content: center;
}
/* Introduction Text */
.intro-text {
    font-size: 20px;
    margin: 10px 0;
    max-width: 600px;
    line-height: 1.5;
    text-align: center;
}
.cta-buttons button{
    background-color: #702E3D;
    font-weight: 700;
    margin: 5px 10px;
}

.cta-buttons button:hover {
    background-color: #8B4A5A; /* Slightly lighter shade of #702E3D */
  }

  @media (max-width: 1024px) {
    .home-container {
        height: 100vh; 
        width: 83%;
        color: #302c2b;
        
    }
    
  }
