/* Resource Section */
.resource-section {
  margin: 15px; 
  width: 82.5%;
  color: #302c2b;
  height: 100%;
}

/* Main Heading */
.resource-section h1 {
  margin: 0;
  
  font-size: 35px; 
  font-weight: bold;
  color: #302c2b;}

/* Intro Paragraph */
.resource-section p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}
.subtitle{
  font-size: 1.2rem;
  color: #666;
  margin: 0;
  margin-top: 5px;
}

/* Video Container */
.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 0px 20px;
 
}

/* Video Card Styling */
.video-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #702E3D;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

/* Hover Effect for Video Card */
.video-card:hover {
  transform: translateY(-5px);
}

/* Video Thumbnail */
.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Title and Description */
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

/* "Read More" Button */
.read-more-btn {
  padding: 10px 15px;
  background-color: #702E3D;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-btn:hover {
  background-color: maroon;
}

/* Responsive Design */
@media (max-width: 768px) {
  .resource-section h1 {
    font-size: 2.5rem;
  }

  .resource-section p {
    font-size: 1rem;
  }

  .video-card {
    width: 100%; /* Full width for smaller screens */
    min-height: 380px;
  }
}

@media (max-width: 480px) {
  .resource-section h1 {
    font-size: 2rem;
  }

  .video-card {
    width: 100%;
  }
}
