@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1, h2, .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
button{
    font-family: 'Raleway', sans-serif;
    font-weight: 510;
    letter-spacing: .5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #702E3D;
    color: #fff;
    border: none;
   
    cursor: pointer;
}