.video-player {

    display: flex;
    justify-content: center;
   
   
   
}
.video-player div {

 background-color: white;
 margin: 15px 15px;
 border-radius: 5px;
   
}


video {
    border-radius: 5px;
    
 
}